@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

/***********************************************************************************************************/
/* NAVBAR */

.edit-nav ul {
  color: var(--primary-font-color);
}
.edit-nav {
  color: var(--primary-font-color);
}
nav button {
  background-color: var(--yellow-btn-color);
}
.nav-item a {
  color: var(--primary-font-color);
  margin-right: 4%;
}
/***********************************************************************************************************/
/* HEADER */
.top-highlight {
  text-decoration: underline;
  text-decoration-color: var(--yellow-btn-color);
}
.underYellow {
  z-index: -1;
  border-radius: 10px;
  color: var(--yellow-btn-color);
  height: 10%;
  background: var(--yellow-btn-color);
}
.header-top {
  color: var(--primary-font-color);
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.header h1 {
  font-weight: bolder;
}
.header-top button {
  background-image: linear-gradient(rgb(8, 45, 130), rgb(8, 8, 83));
  padding: 1.5%;
  color: white;
  font-size: 12px;
}
.btn:hover {
  color: rgb(196, 196, 196);
}
.header-img img {
  width: 60%;
  margin-top: 6%;
}
/***********************************************************************************************************/
/* UPCOMING EVENTS */

.upcoming-top {
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.upcoming-top h1 {
  color: var(--primary-font-color);
}
.upcoming-top p {
  color: var(--secondary-font-color);
}
.ue-date {
  background-color: rgb(223, 219, 219);
  border-radius: 15px;
  padding: 2%;
  margin-right: 4%;
}
.ue-cards {
  box-shadow: 2px 5px 5px 5px #e1e1e1;
}
.card {
  margin: 0 0.5em;
}
.carousel-inner {
  padding: 1em;
  font-size: 14px;
}
.img-container {
  max-width: 100%;
  height: 17em;
  display: flex;
  justify-content: center;
}
.ue-slider {
  margin-left: 2%;
  margin-right: 2%;
}
/***********************************************************************************************************/
/* ABOUT US */
.about-container {
  display: flex;
}
.about-container img {
  width: 70em;
}
.about-content {
  margin-left: 8%;
  padding: 3%;
  text-align: justify;
}
.about-container button {
  background-color: var(--yellow-btn-color);
  padding-left: 3%;
  padding-right: 3%;
  height: 3rem;
}
/***********************************************************************************************************/
/* WHAT CUSTOMER SAY */
.cust-say-sec {
  margin: 0;
  background-image: url("./img/bg-cus-say.png");

  color: white;
}
.cust-say-info {
  margin-left: 30%;
  margin-right: 30%;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}
.cust-say-container {
  padding-top: 10%;
  padding-bottom: 10%;
}
.cust-say-ceo {
  margin-left: 2%;
}
/***********************************************************************************************************/
/* VIDEO SECTION */
.video-wrapper {
  margin-top: 5%;
  border-radius: 20px;
}
.video-wrapper {
  position: relative;
}
.video-wrapper video {
  position: relative;
  z-index: 0;
}
.overlay p {
  font-size: 2em;
}
.overlay {
  color: white;
  position: absolute;
  top: 40%;
  left: 35%;
  z-index: 1;
}
.overlay-play {
  color: white;
  position: absolute;
  top: 25%;
  left: 50%;
  z-index: 1;
}
.overlay-play ion-icon {
  font-size: 4em;
}
/***********************************************************************************************************/
/* INSTA SECTION */
.insta {
  margin: 0;
}
.insta-container {
  height: 10%;
}
.insta-images {
  margin: 0;
}
.insta-images-container {
  display: flex;
  overflow: hidden;
  height: 15em;
}
/***********************************************************************************************************/
/* FOOTER */
.footer-container {
  padding-top: 7%;
  padding-bottom: 7%;
}

.footer-container p {
  color: #b9b2c4b9;
  margin-top: 10%;
}
.icon-1 {
  margin-right: 2%;
}
.f-contact {
  color: var(--yellow-btn-color);
  font-size: 1.5em;
}
.footer-closing {
  color: #b9b2c4b9;
  display: flex;
  justify-content: center;
}
.footer-contents {
  padding-top: 7%;
  padding-bottom: 7%;
  margin-left: 10%;
  margin-right: 10%;
}
.footer-contents p {
  color: #b9b2c4b9;
  margin-top: 10%;
}
.footer-closing p {
  color: var(--yellow-btn-color);
}
/***********************************************************************************************************/
/* MEDIA QUERIES */
@media screen and (max-width: 769px) {
  .nav-container {
    background-color: rgb(175, 186, 182);
  }
  .navbar-toggler {
    background-color: rgb(72, 71, 71);
    color: white;
  }
  .ue-cards p {
    font-size: 10px;
  }
  .footer-contents {
    font-size: 12px;
  }
  .footer-closing {
    font-size: 10px;
  }
  .f-contact {
    font-size: 1.3em;
  }
  .icon-1 {
    font-size: 16px;
  }
}
@media screen and (max-width: 576px) {
  .about-content {
    margin-left: 0;
  }
  .upcoming-top h1 {
    font-size: 20px;
  }
  .upcoming-top p {
    font-size: 12px;
  }
  .about-container {
    display: flex;
    flex-direction: column;
  }
  .icon-1 {
    font-size: 20px;
  }
  .overlay {
    position: absolute;
    top: 40%;
    left: 40%;
    right: 30%;
    z-index: 1;
  }
  .overlay-play {
    top: 20%;
    left: 50%;
  }
  .overlay p {
    font-size: 1em;
  }
  .overlay-play ion-icon {
    font-size: 2em;
  }
  .btn {
    font-size: 15px;
  }
  .header h1 {
    font-size: 20px;
  }
  .header {
    font-size: 12px;
  }
  .carousel-inner {
    padding: 0.5em;
  }
  .cust-say-info {
    margin-left: 10%;
    margin-right: 10%;
  }
  .cust-say-container {
    font-size: 12px;
  }
  .footer-container {
    display: flex;
    align-items: column;
  }
  .footer-contents {
    flex-direction: column;
    font-size: 12px;
  }
  .footer-closing {
    font-size: 10px;
    flex-direction: column;
    align-items: center;
  }
  .footer-contents p {
    margin-top: 3%;
  }
}
@media screen and (min-width: 576px) {
  .carousel-inner {
    display: flex;
  }
  .carousel-item {
    display: block;
    margin-right: 0;
    flex: 0 0 calc(100% / 3);
  }
  .img-container {
    height: 23vw;
  }
}
